* {
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
  }
.containerMaster{
    padding-top:4.5rem;
    padding-bottom:7rem;
    background: #f0f2f5;
}
.containerMiddle{
    background: #f0f2f5;
    height: 31rem;
    margin: 0 2.5rem;
    padding: 1.25rem 0;
    font-size: 0.75rem;
}
.left{    
    padding: 7rem 0 1rem;
}
.left img{
    height: 6.625rem;
    margin: -1.75rem;
}
.left h2{
    font-family:  SFProDisplay-Regular, Helvetica, Arial, sans-serif;
    text-align: center;
}
.right{
    height: 28.5rem;
    width: 24.75rem;
}
.container-form{
    align-items: center;
    background-color: #fff;
    border: none;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgb(0 0 0 / 10%), 0 0.5px 1px rgb(0 0 0 / 10%);
    box-sizing: border-box;
    margin: 2.5rem 0 0;
    padding: 1.25rem 0 1.75rem;
    width: 24.75rem;
}
.mb-3{
    margin: 0 0.8rem;
}

.button a{
    margin: 0;
    
}

.container-form {
    text-align: center;
}
.border{
    align-items: center;
    border-bottom: 1px solid #dadde1;
    display: flex;
    margin: 20px 16px;
    text-align: center;
}
.buttonNewAccount{
    text-align: center;
}
.finalFrase{
    margin-top: 28px;
    text-align: center;
}